#owl-demo .owl-item > div a {
    display: block;
    width: auto;
    width: 20vw;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#owl-demo .owl-item > div img {
    display: block;
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 4px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#owl-demo .owl-item > div {
    margin: 0px 2px;
    margin-top: 1.8vw;
    width: 25vw;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all 1s;
    transition: all 1s;
}

#owl-demo .owl-item.active-image > div {
    margin-top: 0px;
    filter: none;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    width: 20vw;
    -webkit-transition: all 1s;
    transition: all 1s;
}

#owl-demo .owl-item.active-image > div img {
    width: 125%;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.owl-nav div {
    position: absolute;
}

.owl-theme .owl-controls .owl-prev, .owl-theme .owl-controls .owl-next{
    filter: Alpha(Opacity=50);
    transition: all ease .3s;
    opacity: 0.5;
}

.owl-theme .owl-controls .owl-prev:hover, .owl-theme .owl-controls .owl-next:hover{
    filter: Alpha(Opacity=100);
    opacity: 1;
}

.owl-theme .owl-controls .owl-prev {
    color: black;
    left: -10%;
    top: 5.5vw;
}

.owl-theme .owl-controls .owl-prev img {
    width: 5vw;
}

.owl-theme .owl-controls .owl-next {
    color: black;
    right: -10%;
    top: 5.5vw;
}

.owl-theme .owl-controls .owl-next img {
    width: 5vw;
}

.owl-carousel .owl-stage-outer{
    margin-left: -9px;
    margin-right: -10px;
}