
@charset"UTF-8";
@font-face {
    font-family: "Gothic";
    src: url(../font/gothic.eot);
    src: url(../font/gothic.eot?#iefix) format("embedded-opentype"), url(../font/gothic.woff) format("woff"), url(../font/gothic.ttf) format("truetype"), url(../font/gothic.svg#svgFontName) format("svg");
}

@font-face {
    font-family: "Gothic-Bold";
    src: url(../font/gothic-bold.eot);
    src: url(../font/gothic-bold.eot?#iefix) format("embedded-opentype"), url(../font/gothic-bold.woff) format("woff"), url(../font/gothic-bold.ttf) format("truetype"), url(../font/gothic-bold.svg#svgFontName) format("svg");
}

body {
    font-family: "Gothic";
    font-size: 100%;
}

p {
    font-size: 3vh;
}
.social {
    position: fixed;
    right: 0px;
    top: calc(50% - 120px);
    z-index: 9;

}
.social img{
    display: block;
    margin-bottom: 5px;
}
#top {
    position: fixed;
    filter: alpha(opacity=80);
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 999;
}
a.nav-active {
    color: #f8bc4a;
}

.logo {
    width: 15%;
    float: left;
    margin-left: 5%;
}

.logo img {
    margin-top: 10px;
    height: 60px;
}

#logo-glowna {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: 25vh;
    width: auto;
}

.nav {
    width: 60%;
    height: 70px;
    float: left;
    margin-left: 20;
    margin-right: 20%;
    text-align: center;
    border-bottom: solid 1px;
}

li {
    display: inline-block;
    margin-right: 1px;
    width: 12%;
}

li a {
    color: #000;
    cursor: pointer;
    display: block;
    width: auto;
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    color: #f8bc4a;
}

li a img {
    min-width: 30px;
    width: 20%;
    max-width: 40px;
    height: auto;
    margin-top: 10px;
}

li a h2 {
    font-family: "Gothic";
    transition: color .3s;
    font-weight: normal;
}

li ul {
    display: none;
}

li ul li {
    display: block;
    float: none;
}

li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
}

ul li a:hover + .hidden,
.hidden:hover {
    display: block;
}

.next_button_darker {
    margin: 5vh auto 0 auto;
    display: block;
    margin-bottom: 0;
    width: 3vw;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

.next_button_darker:hover {
    -webkit-filter: brightness(95%);
    filter: brightness(95%);
}

.next_button_lighter {
    margin: 5vh auto 0 auto;
    display: block;
    margin-bottom: 0;
    width: 3vw;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
}

.next_button_lighter:hover {
    -webkit-filter: brightness(140%);
    filter: brightness(140%);
}

.next_button_cennik {
    margin: 0px auto;
    /*display: block;*/
    
    margin-bottom: 0;
    width: 3vw;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.next_button_cennik:hover {
    -webkit-filter: brightness(95%);
    filter: brightness(95%);
}

.slider {
    height: 100%;
    width: 70%;
    margin-left: 15%;
}

.slider_back {
    height: 16.75vw;
    background-color: #e2e2e2;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.4);
}

.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #222;
    background: #f8bc4a;
    text-align: center;
    padding: 10px 0;
    display: none;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ #menu {
    display: block;
}
/*
zmiana powyzsze powinno byc input[type=checkbox]:checked ~ #menu{
*/

.contentpg {
    display: block;
    box-shadow: inset 0 15px 20px -20px rgba(0, 0, 0, 0.7);
    background-position-y: center;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 5% 5%;
}

#start {
    padding: 100px 0% 0% 0%;
    background-color: white;
}

#o_nas {
    padding: 5% 10%;
    background-color: #e2e2e2;
}

#oferta {
    padding: 5vw;
    background-color: white;
    background-image: url('../img/oferta_pic1.png');
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    
    background-position: top 2vh right 2vw;
    background-size: auto 20vh;
}

#galeria {
    padding: 0;
    background-color: white;
}

#cennik {
    background-color: white;
}

#kontakt {
    background-color: #e2e2e2;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

a {
    position: relative;
    display: block;
}

.o_nas_napis,
.oferta_napis,
.cennik_napis,
.kontakt_napis {
    opacity: .8;
    margin: auto;
    text-align: center;
    margin-top: 0;
    height: calc(6vh + 5px);
    width: 35%;
    font-size: 50px;
    font-weight: bolder;
    font-size: 6vh;
    text-transform: uppercase;
    margin-bottom: 3vh;
    border-bottom: solid 2px;
}

.start {
    margin: auto;
    text-align: center;
    width: 70%;
    display: block;
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 4vh;
    color: #000;
}

.start span {
    color: #f8bc4a;
}

.start b {
    color: #f8bc4a;
    font-weight: 700;
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 10px #fff;
}

.start h1 {
    font-size: 6vh;
    text-transform: uppercase;
    margin-bottom: 3vh;
}

#o_nas >.o_nas_napis {
    border-bottom: solid 2px white;
}

#o_nas > .top-right-img {
    float: right;
    position: absloute;
    margin-top: -5%;
}

#o_nas > .top-right-img img {
    float: right;
    width: 25vw;
    height: auto;
    padding: 2%;
}

#o_nas > p {
    /*font-size: 3vh;*/
    
    margin-bottom: 3vh;
    margin-top: 3vh;
}

#o_nas > .napis-technologia {
    font-family: "Gothic-Bold";
    display: inline;
    border-bottom: 2px solid white;
    margin-bottom: 3vh;
}

#o_nas > p > span {
    color: #f8bc4a;
}

#oferta > .top-right-img {
    float: right;
    position: absloute;
    margin-top: -5%;
}

#oferta > .top-right-img img {
    float: right;
    width: 25vw;
    height: auto;
    padding: 2%;
    max-width: 450px;
    position: absolute;
    right: 0px;
}

#oferta > .bottom-left-img {
    float: left;
    position: absloute;
    margin-top: -5%;
}

#oferta > .bottom-left-img img {
    float: left;
    width: 25vw;
    height: auto;
    padding: 2%;
    margin-left: -30%;
    margin-top: -35%;
}

#oferta > p {
    margin-bottom: 3vh;
    margin-top: 3vh;
    text-shadow: 0px 0px 5px white, 0px 0px 2px white, 0px 0px 10px white;
}

#oferta > .table {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    font-size: 1.3vw;
}

#oferta > .whole_table {
    width: 80vw;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding-left: 5vw;
    text-align: center;
    font-size: 1vw;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#oferta > .under_table {
    clear: both;
    margin-top: 20px;
}

#oferta > .table > .table_yellow_element {
    float: left;
    width: 14.75vw;
    height: 14.75vw;
    display: table;
    overflow: hidden;
    background-color: #f8bc4a;
    margin: 1.5vw 1.5vw;
    padding: 2vw;
}

#oferta > .table > .table_gray_element {
    float: left;
    width: 14.75vw;
    height: 14.75vw;
    display: table;
    overflow: hidden;
    background-color: #e2e2e2;
    margin: 1.5vw 1.5vw;
    padding: 2vw;
}

#oferta > .table > .invisible {
    float: left;
    width: 14.75vw;
    height: 14.75vw;
    display: table;
    overflow: hidden;
    margin: 1.5vw 1.5vw;
    padding: 2vw;
}

#oferta > .table span {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: .7vw;
    display: block;
}

.galeria {
    width: 100%;
}

.galeria img {
    float: left;
    width: 25%;
    /*box-shadow: 0px 0px 3px 1px #fff;*/
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.76378 0.21455999999999997 0.021660000000000006 0 0 0.06378 0.9145599999999999 0.021660000000000006 0 0 0.06378 0.21455999999999997 0.72166 0 0 0 0 0 1 0" /></filter></svg>#filter');
/*    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6);*/
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.6065 0.3575 0.036 0 0 0.1065 0.8624999999999999 0.036 0 0 0.1065 0.3575 0.536 0 0 0 0 0 1 0" /></filter></svg>#filter');
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.thevideo {
    width: 100%;
    height: 100%;
    /*box-shadow: 0px 0px 3px 1px #fff;*/
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.76378 0.21455999999999997 0.021660000000000006 0 0 0.06378 0.9145599999999999 0.021660000000000006 0 0 0.06378 0.21455999999999997 0.72166 0 0 0 0 0 1 0" /></filter></svg>#filter');
/*    -webkit-filter: grayscale(0.6);
    filter: grayscale(0.6);*/
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.6065 0.3575 0.036 0 0 0.1065 0.8624999999999999 0.036 0 0 0.1065 0.3575 0.536 0 0 0 0 0 1 0" /></filter></svg>#filter');
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.thevideo:hover {
    -webkit-filter: grayscale(0);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1.1574 -0.14300000000000002 -0.014399999999999996 0 0 -0.0426 1.069 -0.014399999999999996 0 0 -0.0426 -0.14300000000000002 1.1856 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
}
.galeria img:hover,
.galeria video:hover {
    -webkit-filter: grayscale(0);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="1.1574 -0.14300000000000002 -0.014399999999999996 0 0 -0.0426 1.069 -0.014399999999999996 0 0 -0.0426 -0.14300000000000002 1.1856 0 0 0 0 0 1 0" /></filter></svg>#filter');
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
}

.galeria > .dwa_na_dwa {
    width: 50%;
    height: 27.6vw;
    float: left;
    margin-bottom: 0px;
}

.galeria > .dwa_na_dwa > a > img {
    width: 100%;
}

.galeria > .left_column1x2 {
    width: 25%;
    height: 27.6vw;
    float: left;
    margin-bottom: 0px;
}

.galeria > .left_column1x2 > a > img {
    width: 100%;
}

.galeria > .long_left {
    width: 50%;
    height: 13.8vw;
    float: left;
    margin-bottom: 0px;
}

.galeria > .long_left > a > img {
    width: 100%;
}

.galeria > .left_column2x1 {
    width: 50%;
    height: 13.8vw;
    float: left;
    margin-bottom: 0px;
}

.galeria > .left_column2x1 > a > img {
    width: 50%;
}

.galeria > .dwa_na_dwa_right {
    width: 50%;
    height: 27.6vw;
    float: right;
    margin-bottom: 0px;
}

.galeria > .dwa_na_dwa_right > a > img {
    width: 100%;
}

.galeria > .trzy_na_dwa_left {
    width: 75%;
    height: 41.4vw;
    float: left;
}

.galeria > .trzy_na_dwa_left > a > img {
    width: 100%;
}

#cennik > .left-img {
    float: left;
    position: absloute;
    margin-top: -5%;
      padding-right: 3vw;
  padding-bottom: 3vw;
}

#cennik > .left-img img {
    float: left;
    width: auto;
    height: 50vh;
}

#cennik > p {
    margin-bottom: 3vh;
    margin-top: 3vh;
}

#cennik > p > span {
    color: #f8bc4a;
}

#cennik > .cennik_end {
    margin-bottom: 7vh;
}
/*---------------Kontakt------------*/

.kontakt_napis {
    border-bottom: solid 2px white;
}

#left-contact {
    float: left;
    width: 45%;
    margin: 0 auto;
}

.contact {
    margin: 0 auto;
    font-size: 3vh;
    margin-bottom: 4vh;
    margin-top: 4vh;
}

.contact input,
.contact textarea {
    background: #f9bd3c;
    font-family: "Gothic", sans-serif;
    width: 100%;
    font-size: 3vh;
    margin-bottom: 2vh;
    border-width: 0px;
    border: none;
}

.contact input {
    height: 4vh;
}

.contact #submit {
    width: auto;
    float: right;
    background: #fff;
}

.contact #success {}

.contact textarea {
    height: 20vh;
    /*padding-top: 8vh;*/
}

#formulaz {
    width: 50%;
    margin: 0 auto;
}

#right-contact {
    float: right;
    width: 45%;
}

#right-contact #temp {
    width: auto;
    height: 70vh;
    background-color: #333333;
    margin: 0 auto;
    margin-top: 5vh;
}

#face-slider {
    position: fixed;
    right: -302px;
    top: 190px;
    z-index: 100;
}

#face-slider #tab {
    cursor: pointer;
    height: 50px;
    width: 50px;
    float: left;
    background: url(../img/button_fb.png) no-repeat center center;
}

#face-code {
    padding: 5px;
    border: solid #3B579D 3px;
    background: #fff;
    float: left;
    width: 286px;
    height: 296px;
    border-radius: 0 0 0 8px;
}

#ideasfactory {
    position: fixed;
    right: 2vh;
    bottom: 1.5vh;
    z-index: 2;
    font-family: "Gothic";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    text-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 2px rgba(255, 255, 255, 1);
    color: #f8bc4a;
    z-index: 5;
    font-size: 14px;
    text-decoration: none;
}

#ideasfactory:before {
    content: "Fabryka stron internetowych ";
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    text-shadow: 0 0 5px rgba(255, 255, 255, 1), 0 0 2px rgba(255, 255, 255, 1);
    opacity: 0;
    filter: alpha(opacity=0);
    top: -30px;
    -webkit-transition: all .5s;
    transition: all 0.5s;
}

#ideasfactory:hover:before {
    opacity: 1;
    filter: alpha(opacity=100);
    top: 0px;
}

.customNavigation {
    text-align: center;
}

.customNavigation a {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (max-width: 850px) {
    ul {
        position: static;
        display: none;
        z-index: 1;
    }
    p {
        font-size: 18px;
    }
    .slide {
        display: inline;
        max-width: 100%;
        height: auto;
        z-index: 5;
    }
    ul li,
    li a {
        width: 100%;
        z-index: 1;
    }
    .show-menu {
        display: block;
    }
    .nav {
        width: 100%;
        height: auto;
        margin-right: 0;
        position: fixed;
        z-index: 10000;
    }
    li a img {
        display: none;
    }
    a h2 {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        line-height: 60px;
        border-color: #f8bc4a;
        border: 1px solid;
        border-radius: 1px;
        background-color: white;
    }
    li a {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0;
    }
    .top {
        height: 148px;
        opacity: 1;
        filter: alpha(opacity=100);
        z-index: 9;
    }
    .logo {
        margin-top: 43px;
        width: 100%;
        float: right;
        margin-bottom: 5px;
    }
    .logo img {
        display: none;
        margin-left: auto;
        margin-right: auto;
    }
    #logo-glowna {
        height: auto;
        width: 70%;
    }
    #top {
        background-color: transparent;
    }
    .o_nas_napis,
    .oferta_napis,
    .cennik_napis,
    .kontakt_napis {
        width: 60%;
        font-size: 22px;
        height: auto;
    }
    #start {
        padding: 60px 0% 0%;
    }
    .start {
        width: 90%;
        margin: 5vh auto;
    }
    .next_button_darker {
        width: 7vw;
    }
    .next_button_lighter {
        width: 7vw;
    }
    .next_button_cennik {
        width: 7vw;
        position: relative;
    }
    #o_nas {
        background-image: none;
    }
    #o_nas > .top-right-img img {
        display: none;
    }
    #oferta {
        background-image: none;
    }
    #oferta > .table > .table_yellow_element {
        width: 36vw;
        height: 36vw;
    }
    #oferta > .table > .table_gray_element {
        width: 36vw;
        height: 36vw;
    }
    #oferta > .table > #wiersz1,
    #oferta > .table > #wiersz4,
    #oferta > .table > #wiersz5,
    #oferta > .table > #wiersz8,
    #oferta > .table > #wiersz9 {
        background-color: #f8bc4a;
    }
    #oferta > .table > #wiersz2,
    #oferta > .table > #wiersz3,
    #oferta > .table > #wiersz6,
    #oferta > .table > #wiersz7,
    #oferta > .table > #wiersz10 {
        background-color: #e2e2e2;
    }
    #oferta > .table > .invisible {
        display: none;
    }
    #oferta > .table span {
        font-size: 3.5vw;
    }
    #oferta > .table {
        font-size: 2.5vw;
    }
    #oferta > .bottom-left-img img {
        display: none;
    }
/*    .galeria img,
    .galeria video {
        width: 25%;
    }*/
    #cennik > .left-img img {
        display: none;
    }
    #left-contact {
        clear: both;
        width: 100%;
    }
    #right-contact {
        clear: both;
        width: 100%;
    }
    .contact {
    margin: 2vh auto 0;
    font-size: 18px;
    }
    .contact input, .contact textarea {
        font-size: 18px;
    }
    .contact input {
        height: 18px;
    }
    #right-contact #temp {
        width: auto;
        height: 50vh;
        background-color: #333;
        margin: 5vh auto 0px;
    }
    .contact input {
    height: 25px;
}
}

@media screen and (max-width: 480px) {
    #o_nas {
        background-image: none;
    }
    #o_nas > .top-right-img img {
        display: none;
    }
    .o_nas_napis,
    .oferta_napis,
    .cennik_napis,
    .kontakt_napis {
        width: 70%;
    }
    #cennik > .left-img img {
        display: none;
    }
    #oferta {
        background-image: none;
    }
    #oferta > .table > .table_yellow_element {
        width: 80vw;
        min-height: 20vw;
    }
    #oferta > .table > .table_gray_element {
        width: 80vw;
        min-height: 20vw;
    }
    #oferta > .table > #wiersz1,
    #oferta > .table > #wiersz3,
    #oferta > .table > #wiersz5,
    #oferta > .table > #wiersz7,
    #oferta > .table > #wiersz9 {
        background-color: #f8bc4a;
    }
    #oferta > .table > #wiersz2,
    #oferta > .table > #wiersz4,
    #oferta > .table > #wiersz6,
    #oferta > .table > #wiersz8,
    #oferta > .table > #wiersz10 {
        background-color: #e2e2e2;
    }
    #oferta > .table span {
        font-size: 7vw;
    }
    #oferta > .table {
        font-size: 5.5vw;
    }
    #oferta > .top-right-img img {
        display: none;
    }
    .next_button_darker,
    .next_button_lighter,
    .next_button_cennik {
        width: 40px;
    }
    .start {
        width: 90%;
        margin: 5vh auto;
    }
    .galeria img,
    .galeria video {
        width: 100%;
    }
    .galeria > .left_column1x2 {
        width: 50%;
    }
    .galeria > .long_left {
        width: 100%;
        height: 27vw;
    }
    .galeria > .left_column2x1 > a > img {
        width: 100%;
    }
    .galeria > .left_column2x1 {
        width: 50%;
        height: 27vw;
    }
    .galeria > .trzy_na_dwa_left {
        width: 100%;
        height: 54vw;
    }
    .galeria > .dwa_na_dwa_right {
        width: 50%;
        float: right;
        margin-bottom: 0px;
        height: 27vw;
    }
    .galeria > .dwa_na_dwa {
        width: 50%;
        height: 27vw;
        float: left;
        margin-bottom: 0px;
    }
    .galeria > .left_column1x2 {
        height: 27vw;
        float: left;
        margin-bottom: 0px;
    }
    #logo-glowna {
        height: auto;
        width: 80%;
    }
    .slider {
        display: none;
    }
    .slider_back {
        background-image: url('../img/slider/01.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: calc(100vw/2.0);
        width: 100%;
        margin-top: 5vh;
    }
    #ideasfactory:before {
        content: "Fabryka stron ";
        position: relative;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        opacity: 0;
        filter: alpha(opacity=0);
        top: -30px;
        -webkit-transition: all .5s;
        transition: all 0.5s;
    }
    #ideasfactory:hover:before {
        opacity: 1;
        filter: alpha(opacity=100);
        top: 0px;
    }
}
